<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <!-- Depth to use in MinMax algorithm. Must not be pair -->
    <add key="MinMaxDepthSplit" value="1" />
    <add key="MinMaxDepthNoSplit" value="7" />
    <!-- Heuristic weight to calculate gloabal heuristic function -->
    <add key="ourNumber" value="1.0" />
    <add key="ennemyNumber" value="1.5" />
    <add key="biggestGroup" value="0.2" />
    <add key="density" value="0.4" />
    <add key="dispersion" value="-1.0" />
    <add key="ourHumanDistance" value="2" />
    
  </appSettings>
</configuration>