<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>

    <!-- Depth to use in MinMax algorithm. Must not be pair -->
    <add key="MinMaxDepth" value="5"/>

    <!-- Heuristic weight to calculate gloabal heuristic function -->
    <add key="Heuristica11" value="10.0"/>
    <add key="Heuristica12" value="10.0"/>
    <add key="Heuristica2" value="10.0"/>
    <add key="Heuristica3" value="10.0"/>
    <add key="Heuristica4" value="10.0"/>
    
  </appSettings>
</configuration>