<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>

    <!-- Depth to use in MinMax algorithm. Must not be pair -->
    <add key="MinMaxDepth" value="3"/>

    <!-- Heuristic weight to calculate gloabal heuristic function -->
    <add key="ourNumber" value="1.0"/>
    <add key="ennemyNumber" value="0.0"/>
    <add key="biggestGroup" value="0.0"/>
    <add key="density" value="0.0"/>
    <add key="dispersion" value="0.0"/>
    
  </appSettings>
</configuration>